.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 700;
    color: #007BFF;
    width: 100vw;
    margin-top: 30px;
    padding: 0 50px;
}

.navbar > span {
    padding: 10px;
    margin: 10px;
}

.navbar__logo {
    color: white;
    background-color: #007BFF;
    border-radius: 50px;
    padding: auto 90px;
    width: 240px;
    text-align: center;
    cursor: pointer;
}

.disclaimer {
    background-color: #D9ECFF;
    color: #268FFF;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}